
<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>-->
<title>Tornado WebSockets</title>



<strong>Message to Send:</strong> <input type="text" id="msg" maxlength="25">
 <input type="button" onclick="sendMsg();" value="send" name="datainfo">

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
 <script type="text/javascript">


  function sendMsg() {
      if ("WebSocket" in window) {
          var ws = new WebSocket("ws://localhost:8081/ws");
            ws.onopen = function() {
                var data = $(" input[ type='text' ] ").val()
                console.log(data)
                ws.send(data);
            };
            ws.onmessage = function (evt) {
               alert(evt.data);
            };

      }
  }
</script>
